.container {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.color-container {
  display: flex;
  align-items: center;
  width: 550px;
  height: 100px;
  background-color: rgb(25, 24, 24);
  color: antiquewhite;
  font-size: 40px;
  border-radius: 10px;
  padding: 10px;
}

.color-button {
  cursor: pointer;
  background-color: inherit;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  transition: all 0.5s;
  border: 1px solid black;
}

#current-color {
  display: inline-block;
  padding-left: 10px;
}

.color-button:hover {
  color: white;
  background-color: rgb(25, 24, 24);
}
